<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
	<link rel="stylesheet" href="../styles/base.css">
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/fonts/icomoon/style.css">
</head>
<body>
	<div class="container">
		<div class="menu">
			<div class="menu-wrapper">
				<div class="menu-item active">
					<span class="icon-home pr10"></span>首页
				</div>
				<div class="menu-item">
					<span class="icon-bubbles2 pr10"></span>聊天
				</div>
				<div class="menu-item">
					<span class="icon-users pr10"></span>用户
				</div>
				<div class="menu-item">
					<span class="icon-drawer3 pr10"></span>收藏
				</div>
				<div class="menu-item">
					<span class="icon-cogs pr10"></span>设置
				</div>
				<div class="menu-item row">
					<div class="col-5">
						<div class="menu-circle">
							<div class="menu-circle-border">
								<span class="icon-download4"></span>
							</div>
							<div class="menu-circle-progress none">
								100%
							</div>
							<div class="menu-circle-message">
								离线
							</div>
						</div>
					</div>
					<div class="col-5">
						<div class="menu-circle">
							<div class="menu-circle-border">
								<span class="icon-moon2"></span>
							</div>
							<div class="menu-circle-message">
								夜间
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper night">
			<header>
				<div class="topnav row">
					<div class="col-12">
						1条点评
					</div>
				</div>
			</header>
			<div class="main">
				<div class="comment">
					<div class="comment-list">
						<div class="comment-item">
							<div class="comment-item-info row">
								<div class="comment-item-user col-6 row">
									<div class="col-2">
										<img src="../images/slider.jpg" alt="" width="18px" height="18px">
									</div>
									<div class="col-10">猴子不郁闷</div>
								</div>
								<div class="comment-item-time col-6">
									04-28 23：21
								</div>
							</div>
							<div class="commit-item-content">
								想做一个调查80后置90后出生的人，你们说周围人2012年以后病死的情况怎么样，别说70后，你们有信息活到60睡吗？不考虑意外和疾病、甚至癌症，2012年前已经病故的不算，上海，我叔叔阿姨一杯的1人癌症病故，3人查出癌症，我2家亲戚不到40人
							</div>
							<div class="comment-item-footer">
								<span class="icon-thumbs-up"></span>10
							</div>
						</div>
						<div class="comment-item">
							<div class="comment-item-info row">
								<div class="comment-item-user col-6 row">
									<div class="col-2">
										<img src="../images/slider.jpg" alt="" width="18px" height="18px">
									</div>
									<div class="col-10">猴子不郁闷</div>
								</div>
								<div class="comment-item-time col-6">
									04-28 23：21
								</div>
							</div>
							<div class="commit-item-content">
								想做一个调查80后置90后出生的人，你们说周围人2012年以后病死的情况怎么样，别说70后，你们有信息活到60睡吗？不考虑意外和疾病、甚至癌症，2012年前已经病故的不算，上海，我叔叔阿姨一杯的1人癌症病故，3人查出癌症，我2家亲戚不到40人
							</div>
							<div class="comment-item-footer">
								<span class="icon-thumbs-up"></span>10
							</div>
						</div>
						<div class="comment-item">
							<div class="comment-item-info row">
								<div class="comment-item-user col-6 row">
									<div class="col-2">
										<img src="../images/slider.jpg" alt="" width="18px" height="18px">
									</div>
									<div class="col-10">猴子不郁闷</div>
								</div>
								<div class="comment-item-time col-6">
									04-28 23：21
								</div>
							</div>
							<div class="commit-item-content">
								想做一个调查80后置90后出生的人，你们说周围人2012年以后病死的情况怎么样，别说70后，你们有信息活到60睡吗？不考虑意外和疾病、甚至癌症，2012年前已经病故的不算，上海，我叔叔阿姨一杯的1人癌症病故，3人查出癌症，我2家亲戚不到40人
							</div>
							<div class="comment-item-footer">
								<span class="icon-thumbs-up"></span>10
							</div>
						</div>
						<div class="comment-item">
							<div class="comment-item-info row">
								<div class="comment-item-user col-6 row">
									<div class="col-2">
										<img src="../images/slider.jpg" alt="" width="18px" height="18px">
									</div>
									<div class="col-10">猴子不郁闷</div>
								</div>
								<div class="comment-item-time col-6">
									04-28 23：21
								</div>
							</div>
							<div class="commit-item-content">
								想做一个调查80后置90后出生的人，你们说周围人2012年以后病死的情况怎么样，别说70后，你们有信息活到60睡吗？不考虑意外和疾病、甚至癌症，2012年前已经病故的不算，上海，我叔叔阿姨一杯的1人癌症病故，3人查出癌症，我2家亲戚不到40人
							</div>
							<div class="comment-item-footer">
								<span class="icon-thumbs-up"></span>10
							</div>
						</div>
					</div>
					<div class="comment-publish">
						<div class="comment-publish-title">评论这篇文章</div>
						<div class="comment-publish-content">
							<textarea></textarea>
						</div>
						<div class="comment-publish-btn">
							<button>发布</button>
							<button class="comment-publish-cancel">取消</button>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="comment-footer row">
					<div class="col-2">
						<span class="icon-arrow-left10"></span>
					</div>
					<div class="col-10">
						<span class="icon-compose"></span>写点评
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="../bower_components/zepto-full/zepto.min.js"></script>
	<script src="../bower_components/swipe/swipe.js"></script>
	<script src="../scripts/main.js"></script>
</body>
</html>