<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../styles/base.css">
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/fonts/icomoon/style.css">
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<div class="cover none"></div>
			<header>
				<div class="topnav row">
					<div class="col-1">
						<span class="icon-menu2"></span>
					</div>
					<div class="col-10">
						今日新闻
					</div>
					<div class="col-1">
						
					</div>
				</div>
			</header>
			<div class="main">
				<div class="swipe">
					<div class="swipe-wrap">
						<div>
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
				</div>
				<div class="list">
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
					<div class="list-item row">
						<div class="list-item-content col-9">
							舌尖上的中国里面的豆花和豆副闹是不是一种东西
						</div>
						<div class="list-item-img col-3">
							<img src="../images/slider.jpg" alt="" width="100%">
						</div>
					</div>
				</div>
			</div>
			<footer>
				
			</footer>
		</div>
	</div>
	<script src="http://zeptojs.com/zepto.min.js"></script>
	<script>
		$(function () {
			$('.icon-menu2').click(function () {
				$('.wrapper').addClass('open');
				$('.cover').removeClass('none');
			});
			$('.cover').click(function () {
				$('.wrapper').removeClass('open');
				$('.cover').addClass('none');
			});
		});
	</script>
</body>
</html>